/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1201px) {}


/*
  ##Device = Laptops, Desktops
  ##Screen = 1025px to 1280px
*/

@media (min-width: 990px) and (max-width: 1200px) {}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 989px) {
    .swiper-slide img {
        height: 40vh;
    }
}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = 481px to 767px
*/

@media (min-width: 571px) and (max-width: 767px) {
    .logo {
        width: 100px
    }
    footer .col-md-2 {
        padding-top: 10px;
    }
    .img {
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    .country>div {
        width: 100%;
    }
    .abs {
        padding-top: 30%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container1 {
        width: 80%;
    }
    .img {
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    .center {
        text-align: center!important;
        margin: auto!important;
    }
    .left {
        text-align: left!important;
    }
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = 320px to 479px
*/

@media (min-width: 0px) and (max-width: 570px) {
    .col-6 {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    .col-6 img {
        object-fit: cover;
        height: 200px;
    }
    .MyServices img {
        /* height: 200px; */
        height: 200px;
    }
    .container1 .pad-0 img {
        height: 50vh;
    }
    .h-img {
        height: 70vh;
        object-fit: cover;
    }
    .logo {
        width: 100px
    }
    #accordion .btn-dark {
        width: 100px;
    }
    footer .col-md-2 {
        padding-top: 10px;
    }
    .img {
        height: 40px;
        width: 40px;
        margin: 5px;
    }
    .h-80 {
        height: 50vh;
    }
    nav li {
        padding: .1rem .1rem;
    }
    .country>div {
        width: 100%;
    }
    .left {
        text-align: left!important;
    }
    .abs {
        padding-top: 30%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container1 {
        width: 90%;
        margin: auto;
    }
    .img {
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    .center {
        text-align: center!important;
        margin: auto!important;
    }
}

@media (min-width: 0px) and (max-width: 1024px) {
    /* a#add_cart {
            width: 57% !important;
        } */
}

@media (min-width: 0px) and (max-width: 767px) {
    .container-fluid.pad-0.bg-white.head-flex {
        display: none;
    }
}

@media (min-width: 0px) and (max-width: 425px) {
    .col-lg-4.col-md-6.mb-6.col-sm-6.mb-lg-0 {
        width: 50%;
    }
    .row-dir {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }
    .col-dir {
        flex-direction: column;
        /* margin-bottom: 10px; */
    }
    .col-xs-12.col-sm-12 {
        padding: 0;
    }
    .site-block-cover-content.text-center h1 {
        font-size: 20px;
    }
    .site-block-cover-content.text-center {
        margin-bottom: 15px;
    }
    a.btn.bg-main.mt-5 {
        margin-top: 10px!important;
    }
    .row.res-mobile {
        text-align: center !important;
    }
    .product.relative h5 {
        font-size: 14px;
    }
    .vitem {
        font-size: 10px;
    }
    .product.relative p {
        font-size: 12px;
    }
    .product.relative h6 {
        font-size: 13px;
    }
    .carousel-inner {
        height: 54%;
    }
    .new1 {
        display: none;
    }
    .col-md-6.product.pad-0 {
        height: fit-content;
    }
    .list-inline {
        display: flex;
        justify-content: center;
        font-size: 0.7rem;
    }
    img.mb-3 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024) {}

@media (min-width: 321px) and (max-width: 320px) {
    /* a#add_cart {
            width: 57%;
        } */
}

@media (min-width: 0px) and (max-width: 767px) {
    .fashion {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}


}